<h3>View Sales Details</h3>
<div>
    <div>
        <label><b>Qty :</b></label>{{sale.qty}}
    </div>
    <div>
        <label><b>Type :</b></label>{{sale.type}}
    </div>
    <div>
        <label><b>Description :</b></label>{{sale.description}}
    </div>
    <div>
        <label><b>Date :</b></label>{{sale.date}}
    </div>
    <div>
        <label><b>CustomerEmailId :</b></label>{{sale.customeremailid}}
        <div>
            <label><b>paymentMethod:</b></label>{{sale.paymentMethod}}
        </div>
        <div>
            <label><b>Price :</b></label>{{sale.price}}
        </div>
        <div>
            <label><b>Item Name :</b></label>{{sale.itemName}}
        </div>
        <div>
            <label><b>Total :</b></label>{{sale.total}}
        </div>
        <div>
            <label><b>Selling Price :</b></label>{{sale.sellingPrice}}
        </div>
    </div>
</div>


