<div class="container">
  <h2>Product List</h2>
  <p>Get all the products being sold here:</p>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Product id</th>
        <th>Product Name</th>
        <th>Product Description </th>
        <th>Product Price </th>
        <th>Actions </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of _productlist">
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.price}}</td>
        <td>
          <button type="button" class="btn btn-primary" (click)="goToEditProduct(product.id)">Edit</button>&nbsp;&nbsp;
          <button type="button" class="btn btn-info" (click)="goToViewProduct(product.id)">View</button>&nbsp;&nbsp;
          <button type="button" class="btn btn-danger" (click)="deleteProduct(product.id)">Delete</button>
        </td>
      </tr>
     
    </tbody>
  </table>
  
</div>